<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .btn {
            transition: color 0.3s, border-color 0.3s;
        }
        .btn:hover {
            color: #ffffff;
            border-color: #ffffff;
        }
    </style>
</head>
<body class="bg-gray-800 text-gray-200 min-h-screen">
    <header class="bg-gray-900 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-3xl font-bold text-white">SchalekPage</h1>
        </div>
    </header>
    <div class="bg-gray-800 rounded-lg shadow-lg p-8 max-w-5xl w-full mx-auto mt-8">
        <h1 class="text-4xl font-bold mb-4 text-center text-white">Dashboard</h1>
        <p class="text-lg mb-6 text-center text-gray-300">Welcome, {{ student.name }}!</p>
        <div class="flex justify-center space-x-8 mb-6">
            <button class="btn text-white border border-gray-500 px-4 py-2 rounded hover:border-white transition duration-300 flex items-center" onclick="location.href='{{ url_for('timetable_changes') }}'">
                <i class="fas fa-calendar-alt text-2xl mr-2"></i> Substitutions
            </button>
            <button class="btn text-white border border-gray-500 px-4 py-2 rounded hover:border-white transition duration-300 flex items-center" onclick="location.href='{{ url_for('grades') }}'">
                <i class="fas fa-graduation-cap text-2xl mr-2"></i> Grades
            </button>
            <button class="btn text-white border border-gray-500 px-4 py-2 rounded hover:border-white transition duration-300 flex items-center" onclick="location.href='{{ url_for('get_timetable') }}'">
                <i class="fas fa-clock text-2xl mr-2"></i> Timetable
            </button>
        </div>
        <div class="bg-gray-700 rounded-lg p-4">
            <h2 class="text-2xl font-bold mb-4 text-center text-white">Notifications</h2>
            <ul>
                {% for notification in notifications %}
                    {% if notification.event_type and notification.event_type.value and notification.event_type.value not in ['h_clearcache', 'h_cleardbi', 'h_clearisicdata', 'h_dailyplan', 'h_znamky', 'confirmation', 'h_contest', 'h_hideplans', 'h_clearplany'] %}
                        <li class="mb-2">
                            <div class="bg-gray-800 p-4 rounded-lg shadow-md flex items-center">
                                {% if notification.event_type.value == 'pipnutie' %}
                                {% if notification.additional_data.typ == 1 %}
                                    <i class="fas fa-sign-in-alt text-green-400 text-2xl mr-4"></i>
                                {% elif notification.additional_data.typ == 2 %}
                                    <i class="fas fa-sign-out-alt text-red-400 text-2xl mr-4"></i>
                                {% endif %}
                                {% else %}
                                <i class="fas {{ event_type_icons[notification.event_type.value.lower()] }} text-2xl text-white mr-4"></i>
                            {% endif %}
                                <div>
                                    <p class="text-sm text-gray-400">{{ notification.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                                    <p class="text-lg text-white">{{ notification.text | safe }}</p>
                                    <p class="text-sm text-gray-400">Author: {{ notification.author }}</p>
                                    <p class="text-sm text-gray-400">Recipient: {{ notification.recipient }}</p>
                                </div>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</body>
</html>