<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Timetable Changes</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }
        .btn {
            transition: color 0.3s, border-color 0.3s;
        }
        .btn:hover {
            color: #ffffff;
            border-color: #ffffff;
        }
    </style>
</head>
<body class="bg-gray-800 rounded-lg">
        <header class="bg-gray-900 p-4 shadow-md">
        <div class="container mx-auto flex justify-between items-center">
            <h1 class="text-3xl font-bold text-white">SchalekPage</h1>
            <button 
                onclick="location.href='{{ url_for('dashboard') }}'"
                class="flex items-center justify-center w-10 h-10 rounded-full bg-gray-800 hover:bg-indigo-600 transition-all duration-300 group"
            >
                <i class="fas fa-home text-gray-400 group-hover:text-white transition-colors duration-300"></i>
            </button>
        </div>
    </header>
    <div class="bg-gray-800 rounded-lg shadow-lg p-8 max-w-5xl w-full mx-auto mt-8">
        <div class="flex justify-between items-center mb-6">
            <a href="{{ url_for('get_timetable_changes', date_str=prev_date.strftime('%Y-%m-%d')) }}" 
               class="text-white hover:text-gray-300 transition-colors">
                <i class="fas fa-chevron-left text-lg"></i>
            </a>
            <h1 class="text-3xl font-bold text-center text-white">Substitutions for {{ current_date.strftime('%A, %B %d, %Y') }}</h1>
            <a href="{{ url_for('get_timetable_changes', date_str=next_date.strftime('%Y-%m-%d')) }}"
               class="text-white hover:text-gray-300 transition-colors">
                <i class="fas fa-chevron-right text-lg"></i>
            </a>
        </div>  
        <ul class="list-disc list-inside text-gray-300">
            {% if changes %}
                {% for change in changes %}
                    <li class="py-2">
                        <span class="font-bold">{{ change.title }} - Lesson {{ change.lesson_n }}</span>
                    </li>
                {% endfor %}
            {% else %}
                <li class="py-2">No substitutions for this day.</li>
            {% endif %}
        </ul>
    </div>
</body>
</html>